
%chat-bubble-container {
    display: flex;
    justify-content: flex-start;
}

.chat-bubble-container-npc {
    @extend %chat-bubble-container;

    flex-direction: row;
}

.chat-bubble-container-player {
    @extend %chat-bubble-container;

    flex-direction: row-reverse;
}

%chat-bubble {
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
}

.chat-bubble-npc {
    @extend %chat-bubble;

    text-align: left;
    background-color: blanchedalmond;
}

.chat-bubble-player {
    @extend %chat-bubble;

    text-align: right;
    background-color: blue;
}

.chat-container {
    margin: 10%;
    width: auto;
}

.response-container {
    display: flex;
    justify-content: center;
}

.response {
    @extend .chat-bubble-player;

    margin: 1em;
    transition-property: opacity;
    transition-duration: 200ms;
    opacity: 80%;
}

.response:hover {
    opacity: 100%;
}