
%chat-bubble-container {
    display: flex;
    justify-content: flex-start;
}

.chat-bubble-container-npc {
    @extend %chat-bubble-container;

    flex-direction: row;
}

.chat-bubble-container-player {
    @extend %chat-bubble-container;

    flex-direction: row-reverse;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

%chat-bubble {
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    animation: 500ms slideIn ease;
}

.chat-bubble-npc {
    @extend %chat-bubble;

    text-align: left;
    background-color: blanchedalmond;
    box-shadow: -10px 10px grey;
}

.chat-bubble-player {
    @extend %chat-bubble;

    text-align: right;
    background-color: blue;
    box-shadow: 10px 10px grey;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
}

.response-container {
    display: flex;
    justify-content: center;
}

.response {
    @extend .chat-bubble-player;

    transition-property: opacity;
    transition-duration: 200ms;
    opacity: 80%;
}

.response:hover {
    opacity: 100%;
}