.ChatBubbleContainer {
    display: flex;
    justify-content: flex-start;
}

.ChatBubbleContainer-Player {
    flex-direction: row-reverse;
}

.ChatBubble {
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
}

.ChatBubble-Player {
    text-align: right;
    background-color: blue;
}

.DialogBox {
    margin: 10%;
    width: auto;
}

.ResponseOptions {
    display: flex;
    justify-content: center;
}

.Response {
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    transition-property: opacity;
    transition-duration: 200ms;
    background-color: blue;
    opacity: 80%;
}

.Response:hover {
    opacity: 100%;
}

.ResponseOption:hover {
    background-color: grey;
}

.ResponseOption::before {
    background-color: grey;
}