.DialogBox {
    background-color: blanchedalmond;
    position: relative;
    margin: 10%;
    width: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    text-align: left;
    padding-bottom: 1em;
}

.Speaker {
    position: relative;
    top: -1.5em;
    left: 1em;
    margin-bottom: -1.5em;
    display: inline-block;
    background-color: blanchedalmond;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 10px;
}

.Dialog {
    width: 90%;
    margin: auto;
}

.ResponseOptions {
    width: 80%;
    padding: 0.5em;
    margin: auto;
    text-align: left;
}

.ResponseOptions ul {
    list-style-type: none;
}

.ResponseOption {
    transition-property: background-color;
    border-radius: 5px;
    padding: 0.25em;
}

.ResponseOption:hover {
    background-color: grey;
}

.ResponseOption::before {
    background-color: grey;
}