
%chat-bubble-container {
    display: flex;
    justify-content: flex-start;
}

.chat-bubble-container-npc {
    @extend %chat-bubble-container;

    flex-direction: row;
}

.chat-bubble-container-player {
    @extend %chat-bubble-container;

    flex-direction: row-reverse;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

%chat-bubble {
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.33em;
    animation: 500ms slideIn ease;

    overflow: hidden;
    border-width: 1.33em;
    border-style: solid;
    border-image-slice: 3 fill;
    border-image-repeat: stretch;
}

.chat-bubble-npc {
    @extend %chat-bubble;

    text-align: left;
    border-image-source: url('/chat_left.svg');
}

.chat-bubble-player {
    @extend %chat-bubble;

    text-align: left;
    border-image-source: url('/chat_right.svg');
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    height: 60vh;
}

.response-container {
    display: flex;
    justify-content: center;
}

.response {
    @extend .chat-bubble-player;

    transition-property: opacity;
    transition-duration: 200ms;
    opacity: 0.8;
}

.response:hover {
    opacity: 1;
}