html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #003366 70%, #336699 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  margin: auto;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.align-middle {
  display: table-cell;
  vertical-align: middle;
}